CompileFlags:
  Add:
    - "-std=c++20"
    - "-Wall"
    - "-Wextra"
  Remove:
    - "-std=c++17"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes